@model System.Int32

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<button class="btn btn-danger" style="float:right" id="@Model">Delete @Model</button>